* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	user-select:none;
}
body {
	overflow-x:hidden;
}

img, 
video {
	width:100%;
}

.eror {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;
	background-image: url('media/assets/credit.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width:100vw;
	height: 100vh;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	color:pink;
	font-weight:bold;
	font-size:1.1rem;
	text-shadow:1px 1px 0 black, 1px 1px 4px black;
	&.hidden {
		display:none;
	}
}

.eror-input {
	user-select:text;
	width:80%;
	outline:none;
	background:rgba(0,0,0,.3);
	border:solid 1.5px pink;
	border-radius:7px;
	font-size:1.1rem;
	font-weight:450;
	padding:1rem;
	color:pink;
	text-shadow:1px 1px 0 black, 1px 1px 4px black;
	box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.74);
}

.container-page {
	overflow-x:hidden;
	&.hidden {
		display:none;
	}
}

.container-big {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100vw;
	height:100vh;
	background-color:#eaeaea;
	overflow:hidden;
	overflow:scroll;
	overflow-x:hidden;
	transform:translateY(20px);
	scale:0;
	opacity:0;
	z-index:-99999;
	transition:0.3s ease, opacity 0.3s ease, scale 0s 1s;
	&.show {
		transform:translateY(0);
		scale:1;
		opacity:1;
		z-index:99999;
		transition:transform 0.3s ease, opacity 0.3s ease, scale 0s;
	}
}
.container-x {
	padding:1rem;
	height:100%;
	overflow-y:hidden;
	overflow-y:scroll;
	overflow-x:hidden;
}
.button-container {

}

.container-index {
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;
	background-image: url('credit.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height: 100vh;
	transition:opacity 1s 0.3s;
	position:relative;
	overflow-x:hidden;
	& .container {
		display:grid;
		place-items:center;
		grid-gap:4rem;
		width:100%;
		overflow:auto;
		height:100%;
		padding:2rem 0;
	}
	& .item {
		display:grid;
		grid-gap:1rem;
		padding:3rem 1rem 1rem;
		border:double;
		width:80vw;
		background-color:rgba(50,50,50,.2);
		border-radius:3px;
		position:relative;
		&.wait {
			position:relative;
			pointer-events:none;
			& .chotto {
				position:absolute;
				left:0;
				top:0;
				right:0;
				bottom:0;
				display:flex;
				align-items:center;
				justify-content:center;
				background-color:rgba(0,0,0,.8);
				color:#dddddd;
				font-weight:450;
				letter-spacing:1px;
			}
		}
	}
	& .item-header {
		position:absolute;
		left:0;
		top:-0.6rem;
		right:0;
		text-align:center;
		z-index:9;
	}
	& .item-header span {
		background-color:silver;
		font-weight:bold;
		font-size:1.1rem;
		padding:0.4rem 2rem;
		border:solid;
		border-radius:3px;
		box-shadow:0px 0px 6px black;
		&.premium {
			background: linear-gradient(145deg, #d4af37, #cfa800);
			color: #212121;
		}
	}
	& h1 {
		text-align: center;
		font-size: 3rem;
		font-weight:800;
		color: pink;
		text-shadow:1px 1px 0 black, 1px 1px 4px black;
	}
	& .button {
		width:100%;
		padding: 1rem 2rem;
		background: linear-gradient(145deg, #111, #333);
		border: none;
		border-radius: 1.5rem;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), -1px -1px 2px rgba(255, 255, 255, 0.3);
		text-decoration: none;
		color: white;
		font-size: 1rem;
		font-weight: bold;
		transition: all 0.3s ease;
		letter-spacing: 0.1rem;
		cursor:default;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		&:hover {
			filter:brightness(0.7);
			transform: translateY(-0.2rem);
		}
		&.premium {
			position: relative;
			background: linear-gradient(145deg, #d4af37, #cfa800);
			color: #212121;
			border: none;
			overflow: hidden; /* Untuk memastikan efek tidak keluar dari tombol */
			transition: transform 0.3s ease, box-shadow 0.3s ease;
			&.none {
				display:none;
			}
		}
		&.premium::before {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.4); /* Efek cahaya putih */
			transition: left 0.3s ease;
		}
		&.premium:hover {
			transform: translateY(-6px); /* Efek angkat tombol */
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 -3px 8px rgba(255, 255, 255, 0.2);
		}
		&.premium:hover::before {
			left: 100%; /* Menampilkan efek whitescreen */
		}
		&.disabled {
			pointer-events:none;
		}
	}
	& .connect {
		color:pink;
		font-weight:bold;
		font-size:1.2rem;
		text-shadow:1px 1px 0 black, 1px 1px 4px black;
	}
}


#Words {
	#search-content {
	    margin-bottom: 1rem;
	    background-color: #f7f7f7;
	    padding: 1rem;
	    border-radius: 12px;
	    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
	    margin: 0 auto;
	}
	
	#search-input {
	    padding: 14px 20px;
	    width: 100%;
	    outline: none;
	    font-size: 1rem;
	    border: 1px solid #e0e0e0;
	    border-radius: 30px;
	    background-color: #ffffff;
	    color: #333;
	    transition: all 0.3s ease;
	    font-weight: 500;
	    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	}
	
	#search-input:focus {
	    border-color: #5c6bc0;
	    box-shadow: 0 0 10px rgba(92, 107, 192, 0.3);
	}
	
	#results {
	    margin-top: 30px;
	    list-style-type: none;
	    padding: 0;
	    max-width: 700px;
	    margin: 0 auto;
	}
	
	#results li {
	    background-color: #ffffff;
	    padding: 18px;
	    margin: 12px 0;
	    border-radius: 16px;
	    border: 1px solid #e0e0e0;
	    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	    font-size: 17px;
	    color: #555;
	    font-weight: 400;
	    transition: all 0.3s ease;
	}
}






.header {
	text-align: center;
	font-size: 2rem;
	font-weight:750;
	color: pink;
	margin-bottom: 2rem;
}
.text-header {
	text-shadow:1px 1px 1px rgba(0,0,0,.6);
}
.header p {
	color:#aaa;
	font-size:0.9rem;
	padding:1px;
}







#HanaTatabahasa,
#HanaSSWPMKosakata,
#JFTKanji,
#N5Kosakata,
#MNNKosakata,
#SSWPMKosakata {
	& .grup-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
	}
	& .card-group {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.8rem;
		width: 100%;
	}
	& .group-button {
		padding: 1rem 0.5rem;
		font-weight: bold;
		font-size:1.07rem;
		border: 2px solid #28a745;
		background: linear-gradient(145deg, #28a745, #1c7c33);
		color: #f5f5dc;
		border-radius: 8px;
		outline: none;
		cursor: pointer;
		white-space:nowrap;
		transition: all 0.3s ease;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.2);
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
	}
	& .group-button:hover {
		background: linear-gradient(145deg, #1c7c33, #28a745);
		box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4), -8px -8px 16px rgba(255, 255, 255, 0.3);
		transform: translateY(-5px);
		text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3);
	}
	& .card-container {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		gap: 1.5rem;
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 0.3s ease, transform 0.3s ease;
	}
	& .card-container.visible {
		opacity: 1;
		transform: translateY(0);
	}
	& .button-container {
		position:sticky;
		top:0rem;
		z-index: 999;
		display: flex;
		justify-content:space-between;
		gap: 1rem;
		background: white;
		padding: 1rem;
		border-radius: 0.5rem;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		transition:0.5s 0.3s;
	}
	& .button-container button {
		width:100%;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 0.25rem;
		cursor: pointer;
		font-weight: bold;
		transition: background 0.3s, transform 0.2s;
	}
	& .close-button {
		background: #dc3545;
		color: white;
	}
	& .close-button:hover {
		background: #c82333;
		transform: translateY(-2px);
	}
	& .shuffle-button {
		background: #007bff;
		color: white;
	}
	& .shuffle-button:hover {
		background: #0056b3;
		transform: translateY(-2px);
	}
	& .reset-button {
		background: #ffc107;
		color: black;
	}
	& .reset-button:hover {
		background: #e0a800;
		transform: translateY(-2px);
	}
	& .card {
		width: 100%; /* Pastikan lebar 100% */
		height: 18rem;
		perspective: 1000px;
		background: white;
		border-radius: 0.5rem;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		padding: 1rem;
		margin-bottom: 1rem; /* Tambahkan margin untuk jarak antar kartu */
		text-align:center;
		transition: border-color 0.3s;
	}
	& .card-inner {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.6s;
		transform-style: preserve-3d;
	}
	& .card-front,
	& .card-back {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0.5rem;
	}
	& .card-front {
		background: #f8f9fa;
		color: #333;
		font-weight: 800;
		font-size:2rem;
		padding:1rem;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		@media screen and (max-width: 361px) {
			font-size:1.8rem;
		}
	}
	& .card-back {
		font-size:0.9rem;
		background: #f1f3f5;
		color: #444;
		transform: rotateY(180deg);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;
		font-weight:450;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	& .flipped {
		transform: rotateY(180deg);
	}
	& .card.active {
		border-color: green; /* Border hijau saat dibalik */
	}
	& .hidden {
		display: none;
	}
}




#HanaKanjiLatihan {
	& .grup-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
	}
	& .card-group {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 0.8rem;
		width: 100%;
	}
	& .group-button {
		padding: 1rem 0.5rem;
		font-weight: bold;
		font-size:1.07rem;
		border: 2px solid #28a745;
		background: linear-gradient(145deg, #28a745, #1c7c33);
		color: #f5f5dc;
		border-radius: 8px;
		outline: none;
		cursor: pointer;
		white-space:nowrap;
		transition: all 0.3s ease;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.2);
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
	}
	& .group-button:hover {
		background: linear-gradient(145deg, #1c7c33, #28a745);
		box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4), -8px -8px 16px rgba(255, 255, 255, 0.3);
		transform: translateY(-5px);
		text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3);
	}
	& .card-container {
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		gap: 1.5rem;
		opacity: 0;
		transform: translateY(-20px);
		transition: opacity 0.3s ease, transform 0.3s ease;
	}
	& .card-container.visible {
		opacity: 1;
		transform: translateY(0);
	}
	& .button-container {
		position:sticky;
		top:0rem;
		z-index: 999;
		display: flex;
		justify-content:space-between;
		gap: 1rem;
		background: white;
		padding: 1rem;
		border-radius: 0.5rem;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		transition:0.5s 0.3s;
	}
	& .button-container button {
		width:100%;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 0.25rem;
		cursor: pointer;
		font-weight: bold;
		transition: background 0.3s, transform 0.2s;
	}
	& .close-button {
		background: #dc3545;
		color: white;
	}
	& .close-button:hover {
		background: #c82333;
		transform: translateY(-2px);
	}
	& .shuffle-button {
		background: #007bff;
		color: white;
	}
	& .shuffle-button:hover {
		background: #0056b3;
		transform: translateY(-2px);
	}
	& .reset-button {
		background: #ffc107;
		color: black;
	}
	& .reset-button:hover {
		background: #e0a800;
		transform: translateY(-2px);
	}
	& .cards {
		overflow:hidden;
		border-radius:0.5rem;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}
	& .card {
		position:relative;
		width: 100%;
		background: white;
		border: 1px solid #ccc;
		padding: 1rem;
		padding-left:1rem;
		margin-top:-1px;
		transition: border-color 0.3s;
	}
	& .card-inner {
		display:grid;
		grid-template-columns:2rem 1fr;
		grid-gap:0.4rem;
		align-items:center;
		& p {
			&:nth-child(1) {
				color:#888;
				font-size:1rem;
				font-weight:450;
				translate:0 0.5px;
				z-index:9;
			}
		}
	}
	& .hidden {
		display: none;
	}
}













#HanaKanjiKuis1, 
#JFTKanjiKuis {
	& h2 {
		font-size: 1rem;
		font-weight: 450;
		font-style: italic;
	}
	& .level-buttons {
		display:grid;
		grid-template-columns:repeat(4, 1fr);
		justify-content:center;
		grid-gap:0.4rem;
	}
	& .level-button, .option-button  {
		padding:1.8rem 0;
		border: 2px solid #28a745;
		background: linear-gradient(145deg, #28a745, #1c7c33);
		color: #f5f5dc;
		font-size: 1.2rem;
		font-weight: bold;
		border-radius: 8px;
		outline: none;
		cursor: pointer;
		white-space:nowrap;
		transition: all 0.3s ease;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.2);
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
		@media screen and (max-width: 361px) {
			padding:1.4rem 0;
		}
	}
	& .level-button:disabled {
		background-color: #2c6f2c;
		color: #a9a9a9;
		cursor: not-allowed;
		pointer-events:none;
		opacity: 0.7;
	}
	& .level-button:hover,
	& .option-button:hover {
		background: linear-gradient(145deg, #1c7c33, #28a745);
		box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4), -8px -8px 16px rgba(255, 255, 255, 0.3);
		transform: translateY(-5px);
		text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3);
	}
	& .option-button {
		padding:1rem;
	}
	& .option-button:hover {
		filter:brightness(0.8);
		transform:translateY(0);
	}
	& .quest-container {
		padding:0.4rem;
	}
	& .quest-content {
		padding:1rem;
		background:#ffffff;
		border-radius:5px;
		box-shadow:1px 1px 4px rgba(0,0,0,.2);
	}
	& .options {
		display: grid;
		gap: 0.6rem;
	}
	& .question {
		margin: 2rem 0 10rem 0;
		text-align: center;
		font-size: 2.2rem;
		font-weight: 800;
	}
	& .clear-button {
		background-color: #f44336;
		display:none;
	}
}
















#JFTTatabahasa {
	& h1 {
		font-size: 2rem;
		text-align: center;
		color: #333;
		margin-bottom: 20px;
	}
	/* Button styling */
	& .closeBtn {
		position: absolute;
		top: 20px;
		left: 20px;
		background-color: #007BFF;
		color: white;
		padding: 12px 20px;
		font-size: 14px;
		border-radius: 3px;
		border: none;
		cursor: pointer;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: background-color 0.3s, transform 0.3s;
	}
	& .closeBtn:hover {
		background-color: #0056b3;
		transform: translateY(-2px);
	}
	& .closeBtn:focus {
		outline: none;
	}
	/* Container for the tatabahasa content */
	& #tatabahasaContainer {
		display:grid;
		grid-gap:1rem;
		width: 100%;
		/*
		max-width: 900px;
		margin: 0 auto;
		*/
		padding: 1rem;
		background-color: white;
		border-radius: 8px;
		box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
	}
	& .toggleBtn {
		cursor: pointer;
		background-color: #0069d9;
		color: white;
		padding: 1rem;
		border-radius: 5px;
		font-size: 1rem;
		font-weight: bold;
		transition: background-color 0.3s, transform 0.2s;
	}
	& h2.toggleBtn, .closeBtn {
		font-weight: bold;
		font-size:1.07rem;
		border: 2px solid #28a745;
		background: linear-gradient(145deg, #28a745, #1c7c33);
		color: #f5f5dc;
		border-radius: 8px;
		outline: none;
		white-space:nowrap;
		transition: all 0.3s ease;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.2);
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
	}
	& .closeBtn {
		font-size:1rem;
	}
	& h3.toggleBtn {
		display:grid;
		grid-template-columns:1fr 1fr;
		grid-gap:1rem;
		align-items:center;
		background-color:transparent;
		color:#0069d9;
		color:#28a745;
	}
	& h3.toggleBtn:hover {
		background-color:transparent;
	}
	& .toggleBtn:hover {
		background-color: #0056b3;
		transform: translateY(-2px);
	}
	& .toggleBtn:focus {
		outline: none;
	}
	& .toggleBtn span {
		width:100%;
		white-space:nowrap;
		overflow:auto;
	}
	& .toggleBtn span:nth-child(1) {
		font-weight:bold;
		font-size:1rem;
	}
	& .toggleBtn span:nth-child(2) {
		color:#aaa;
		font-weight:bold;
		font-size:0.9rem;
		text-align:right;
	}
	& .example {
		margin-left: 20px;
		margin-top: 10px;
		margin-bottom:2rem;
		font-size: 16px;
		color: #555;
		padding-left: 10px;
		border-left: 3px solid #ddd;
		font-style: italic;
		transition: transform 0.3s ease, opacity 0.3s ease;
	}
	& .example-hidden {
		opacity: 0;
		transform: translateX(-10px);
	}
}





















#JFTLatihan,
#MNNKosakataKuis,
#HanaTatabahasaKuis,
#HanaKanjiKuis2,
#HanaKanjiLatihanKuis,
#HanaSSWPMKosakataKuis {
	& .header-x {
		text-shadow:1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 4px rgba(0, 0, 0, 0.3);
	}
	& #btn-content {
		display: grid;
		grid-template-columns:repeat(3, 1fr);
		grid-gap: 0.8rem;
	}
	& .quiz-select {
		position:fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		display:grid;
		grid-template-columns:1fr;
		grid-gap:1rem;
		align-items:center;
		background-color:#fafafa;
		padding:1rem;
		z-index:999;
		transition:0.3s;
		.none {
			scale:0;
		}
		& .select-item {
			border:double;
			padding:1rem;
			border-radius:5px;
			& .select-head {
				text-align:center;
				translate:0 -32px;
				& .select-title {
					border:solid 2px orange;
					border-radius:5px;
					padding:0.4rem 1.8rem;
					padding-top:0.5rem;
					background:pink;
					text-align:center;
					font-weight:bold;
					font-size:1.5rem;
					box-shadow:0 0 4px 2px rgba(0, 0, 0, 0.2);
				}
			}
			& .select-body {
				display:grid;
				grid-template-columns:repeat(3, 1fr);
				grid-gap:1rem;
			}
		}
	}
	& .btn {
		text-align:center;
		padding: 1rem 0.5rem;
		font-weight: bold;
		font-size:1.07rem;
		border: 2px solid #28a745;
		background: linear-gradient(145deg, #28a745, #1c7c33);
		color: #f5f5dc;
		border-radius: 8px;
		outline: none;
		cursor: pointer;
		white-space:nowrap;
		transition: all 0.3s ease;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.2);
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
		transition:0.3s;
		&:hover {
			background: linear-gradient(145deg, #1c7c33, #28a745);
			box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4), -8px -8px 16px rgba(255, 255, 255, 0.3);
			transform: translateY(-5px);
		}
		&.active {
			pointer-events:none;
			background: linear-gradient(145deg, #ff4f80, #ff80bf);
			border: 2px solid #ff4f80; 
		}
		&.play-quiz {
			background: linear-gradient(145deg, #d4af37, #da9000);
			border: 2px solid #d4af37;
			&:hover {
				background: linear-gradient(145deg, #b8860b, #daa520); /* Gradasi emas lebih gelap */
				border: 2px solid #b8860b; /* Border emas lebih gelap */
			}
			&.disabled {
				opacity:0.5;
				pointer-events:none;
			}
		}
	}
	& #quiz-container {
		z-index:999;
		transition: transform 0.3s ease-out;
		&.none {
			display:none;
		}
	}
	& .question {
		background-color: #fafafa;
		padding: 1.5rem;
		margin-bottom: 1.5rem;
		border: solid 1px #eaeaea;
		border-radius: 10px;
		font-size: 1.25rem;
		color: #333;
		position:relative;
		box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
		transition: background-color 0.3s ease-in-out;
	}
	& .num {
		text-align:center;
		font-weight:bold;
		color:#555;
		margin-bottom:1rem;
	}
	
	& .question .quest {
		margin-bottom: 1.75rem;
		font-size:2rem;
		text-align:center;
		background:#eaeaea;
		border-radius:10px;
		padding:1rem;
		box-shadow: 0 0.25rem 0.5rem rgba(0, 20, 0, 0.15);
		overflow:hidden;
	}
	& .question .quest span {
		width:100%;
	}
	& .question .quest b {
		text-decoration:underline;
	}
	& .question label {
		display: flex;
		align-items: center;
		padding: 1rem 0.4rem;
		margin: 0.75rem 0;
		background-color: #ffffff;
		border-radius: 0.625rem;
		cursor: pointer;
		font-size: 1.125rem;
		font-weight: 400;
		color: #4CAF50;
		transition: all 0.3s ease;
		border: 2px solid transparent;
		box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.07);
	}
	& .question label:active,
	& .question label.hover {
		background-color: #f1f8e9;
		border-color: #4CAF50;
		transform: scale(1);
	}
	& .question input[type="radio"] {
		scale: 0;
	}
	& .feedback {
		font-size: 0.9rem;
		font-weight: 450;
		margin-top: 1rem;
		margin-left:0.4rem;
		transition: opacity 0.3s ease;
	}
	& .correct {
		color: #388e3c;
	}
	& .incorrect {
		color: #e53935;
	}
	& .unanswered {
		color: #fbc02d;
	}
	& #timer {
		position:sticky;
		top:0;
		font-size: 0.9rem;
		font-weight: 700;
		color: #4CAF50;
		padding: 0.5rem 1rem;
		background-color: #e8f5e9;
		background-color:rgb(220,230,220);
		border-radius: 0.75rem;
		width: fit-content;
		margin: 1.25rem auto;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
		z-index:999;
	}
	& #result {
		font-size: 1.5rem;
		font-weight: 700;
		margin: 2rem;
		color: #4CAF50;
		text-align: center;
	}
	& button {
		padding: 1rem 0.5rem;
		font-weight: bold;
		font-size:1.07rem;
		border: 2px solid #28a745;
		background: linear-gradient(145deg, #28a745, #1c7c33);
		color: #f5f5dc;
		border-radius: 8px;
		outline: none;
		cursor: pointer;
		white-space:nowrap;
		transition: all 0.3s ease;
		box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.2);
		text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
	}
	& button:hover {
		background: linear-gradient(145deg, #1c7c33, #28a745);
		box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4), -8px -8px 16px rgba(255, 255, 255, 0.3);
		transform: translateY(-5px);
		text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3);
	}
	& button:disabled {
		opacity:0.5;
		background-color: #2c6f2c;
		color: #ddd;
		pointer-events:none;
	}
	& #backBtn {
	}
	& #backBtn:hover {
		background-color: #2c6e2f;
	}
	& .btn-group {
		text-align: right;
	}
	& #submitBtn:disabled {
		opacity:0.8;
		background-color: #2c6f2c;
		color: #ddd;
		pointer-events:none;
	}
	& #submitBtn,
	& #backBtn {
		background-color: #388e3c;
		padding:0.6rem 1rem;
		width: auto;
		border-radius: 3px;
	}
	& .none {
		display: none;
	}
	& .failed {
		display:grid;
		grid-gap:0.8rem;
	}
	& .item {
		display:grid;
		grid-template-columns:1fr 1fr;
		grid-gap:1rem;
		justify-content:space-between;
		align-items:center;
		background-color:#ffffff;
		padding:1rem;
		border-radius:10px;
		box-shadow:1px 1px 2px rgba(0,0,0,.2);
		overflow:hidden;
		overflow:scroll;
	}
	& .item b {
		display:block;
		width:100%;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		&:hover {
			overflow:visible;
			text-overflow:clip;
		}
	}
	& .item b:nth-child(1) {
		font-size:1.1rem;
	}
	& .item b:nth-child(2) {
		color:#aaa;
		text-align:right;
	}
	
	& img {
		width:100%;
		border-radius:10px;
		padding:0;
		margin:0;
	}
	
	& .quest span {
		display:block;
		text-align:left;
		font-size:1.2rem;
		margin-bottom:0.4rem;
	}
	
}

#HanaKanjiLatihanKuis {
	& .question .quest {
		text-align:left;
		font-size:1.2rem;
		font-weight:bold;
	}
}



















#JFTPremium {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	& .container {
		width: 100%;
		background: white;
		border-radius: 8px;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
		padding: 2rem;
		display: none; /* Sembunyikan sampai password benar */
	}
	& h1 {
		text-align: center;
		color: #333;
		margin-bottom: 2rem;
		font-weight: 750;
	}
	& a {
		display: block;
		text-decoration: none;
		color: #28a745;
		font-weight: bold;
		margin: 15px 0;
		padding: 1rem;
		border-radius: 5px;
		background-color: #e9ecef;
		text-align: center;
		cursor: default;
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
		transition: background-color 0.3s;
	}
	& a:hover {
		background-color: #d3d3d3;
	}
	& .password-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:space-between;
		height:90vh;
	}
	& input {
		padding: 10px;
		margin: 10px 0;
		border: 1px solid #ccc;
		border-radius: 5px;
		width: 100%;
		font-size: 1rem;
		text-align: center;
		font-weight: 450;
	}
	& button {
		margin-top: 1rem;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		background-color: #007bff;
		color: white;
		font-size: 1rem;
		font-weight: 450;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	& button:hover {
		background-color: #0056b3;
	}
}

















#N5Choukai {
	& audio {
		display:none;
	}
	
	& button {
		background:transparent;
		border:none;
		display:block;
		width:100%;
		text-align:left;
		font-size:1rem;
		font-weight:450;
		border-radius:25px;
		padding:1rem;
		margin-bottom:0.8rem;
		transition:0.3s;
	}
		
	& button:active, button.active {
		background-color:#ddd;
		color: #2e7d32;
		padding-left:1.2rem;
	}
		
	& #currentTime {
		position:fixed;
		bottom:1rem;
		right:1rem;
		font-size:1.1rem;
		font-weight: 600;
		background-color: #2e7d32;
		color:#ffffff;
		padding:0.6rem;
		border-radius:6px;
		box-shadow:0 0 8px 2px rgba(0,0,0,.3);
	}
		
	& #loading {
		position:fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		width:100vw;
		height:100vh;
		display:flex;
		justify-content:center;
		align-items:center;
		background-color:rgba(0,0,0,.3);
		color:darkgreen;
		font-weight:450;
		font-size: 1rem;
	}
}










@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes moveUp {
	0% {
		transform: translateY(100%);
	} 100% {
		transform: translateY(-100vh);
	}
}
#Credits {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	width:100vw;
	height: 100vh;
	margin: 0;
	transition: background-color 0.5s ease;
	overflow: hidden;
	user-select: none;
	background-color:#eaeaea;
	& .container {
		text-align: center;
		opacity: 0;
		transform: translateY(20px);
		animation: fadeIn 0.5s forwards;
	}
	& .btn {
		display: inline-block;
		margin-top: 20px;
		padding: 10px 20px;
		background-color: #007bff;
		color: white;
		text-decoration: none;
		border-radius: 5px;
	}
	& .btn:hover {
		background-color: #0056b3;
	}
	& #credit {
		display: none;
		position: relative;
	}
	& .video-content {
		position: relative;
		width: 100%;
		height: auto;
		overflow: hidden;
	}
	& video {
		width: 100%;
		height: auto;
		transition: transform 1s;
	}
	& .text-content {
		position: absolute;
		color: white;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
		text-align: center;
	}
	& .text-content p {
		font-size: 24px;
		margin: 10px 0;
		position: fixed;
		padding: 3rem 2rem;
		background: red;
		opacity: 0;
	}
	& .text-content p:nth-child(1) {top: 0%; left: 5%;}
	& .text-content p:nth-child(2) {top: 10%; left: 45%;}
	& .text-content p:nth-child(3) {top: 3%; left: 75%;}
	& .text-content p:nth-child(4) {top: 35%; left: 5%;}
	& .text-content p:nth-child(5) {top: 65%; left: 10%;}
	& .text-content p:nth-child(6) {top: 57%; left: 45%;}
	& .text-content p:nth-child(7) {top: 50%; left: 72%;}
	/* Animasi untuk konten tentang */
	& .about-container {
		background-image: url('media/assets/credit.jpg'); /* Ganti dengan jalur gambar Anda */
		background-size: cover; /* Mengatur ukuran gambar agar menutupi seluruh area */
		background-position: center; /* Memposisikan gambar di tengah */
		background-repeat: no-repeat; /* Menghindari pengulangan gambar */
		position: relative;
		overflow: hidden; /* Menghilangkan konten yang keluar dari area */
		width:100%;
		height: 100vh; /* Sesuaikan tinggi sesuai kebutuhan */
		text-align:center;
		font-weight:bold;
	}
	& .about-container::before {
		content:"";
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background:rgba(0,0,0,.8);
	}
	& .about-content {
		position: absolute;
		bottom: 0;
		width: 100%;
		animation: moveUp 60s linear infinite;
	}
	& .about-content h3 {
			margin-top:2rem;
	}
	& .about-content p {
			padding:1px 0;
	}
	& #about .btn {
		position:absolute;
		left:40%;
		bottom:1rem;
	}
	& #about-content {
		color:lightgreen;
		color:rgb(50,250,100);
		text-shadow:1px 1px 1px rgba(0,0,0,.8), -0.3px -0.3px 1px #000000;
	}
	& #about-content p {
		color:rgb(100,200,150);
		color:rgb(50,200,100);
		color:white;
	}
}
